@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Simple scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* gray-600 */
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #1f2937; /* gray-800 */
}
